
<div>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <label for="nombre">Nombre</label>
      <input #nombre id="nombre" formControlName="nombre" placeholder="Nombre" (keydown.enter)="focusNext('apellido')" autocomplete="given-name" required>

      <label for="apellido">Apellido</label>
      <input #apellido id="apellido" formControlName="apellido" placeholder="Apellido" (keydown.enter)="focusNext('dni')" autocomplete="family-name" required>

      <label for="dni">DNI</label>
      <input #dni id="dni" formControlName="dni" placeholder="DNI" (keydown.enter)="focusNext('email')" autocomplete="off" required>

      <label for="email">Email</label>
      <input #email id="email" formControlName="email" placeholder="Email" (keydown.enter)="focusNext('password')" autocomplete="email" required>

      <label for="password">Contraseña</label>
      <input #password id="password" formControlName="password" type="password" placeholder="Contraseña" (keydown.enter)="focusNext('tipo')" autocomplete="new-password" required>

      <label for="tipo">Tipo</label>
      <select #tipo id="tipo" formControlName="tipo" (keydown.enter)="focusNext('ubicacion')" autocomplete="off" required>
        <option value="" disabled selected>Selecciona el tipo</option>
        <option value="trabajador">Trabajador</option>
        <option value="empleador">Empleador</option>
      </select>

      <label for="ubicacion">Ubicación</label>
      <input #ubicacion id="ubicacion" formControlName="ubicacion" placeholder="Ubicación" (keydown.enter)="submitForm()" autocomplete="address-level1" required>

      <button type="submit">Registrar</button>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    </form>
  </div>
