<div *ngIf="usuario">
    <h1>Bienvenido, {{ usuario.nombre }} {{ usuario.apellido }}</h1>
    <p>Email: {{ usuario.email }}</p>
    <p>DNI: {{ usuario.dni }}</p>
    <p>Tipo: {{ usuario.tipo }}</p>
    <p>Ubicación: {{ usuario.ubicacion }}</p>
    <p>Fecha de creación: {{ usuario.creado_en | date }}</p>
    <p>Última actualización: {{ usuario.actualizado_en | date }}</p>
    <div>
      <img *ngIf="usuario.foto_perfil" [src]="usuario.foto_perfil" alt="Foto de perfil">
      <i *ngIf="!usuario.foto_perfil" class="fas fa-user-circle fa-5x"></i>
    </div>
  </div>
  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>