.job-info {
    background-image: url("/../../main.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    color: #000000;

  }
  
  .text-section {
    max-width: 600px;
    margin-bottom: 20px;
    color: #ffffff;

  }
  
  .image-section img {
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .image-section img:hover {
    transform: scale(1.05);
  }
  
  .stats-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
  }
  
  .stat {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .stat:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .stat i {
    font-size: 24px;
    color: #3498db;
    margin-bottom: 10px;
  }
  
  .stat p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .stat span {
    display: block;
    font-size: 14px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .stats-section {
      flex-direction: column;
      align-items: center;
    }
    .image-section img {
        width: 50%;
        margin: 0px;
        border-radius: 10px;
      }
    .stat {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  