<div class="job-info">
    <div class="text-section">
      <h1 class="animated fadeInDown">Busca tu chamba ya!</h1>
      <p class="animated fadeInUp">
        "El éxito no es la clave de la felicidad. La felicidad es la clave del éxito. Si amas lo que haces, tendrás éxito." 
        Recuerda que cada esfuerzo que haces, cada obstáculo que superas y cada paso que das hacia adelante te acerca más a tus metas. 
        ¡Sigue adelante con determinación y pasión, y no hay nada que no puedas lograr!
    </p>    </div>
    <div class="image-section">
      <img [src]="imageUrl" alt="Job Search">
    </div>
    <div class="stats-section">
      <div class="stat animated fadeInLeft">
        <i class="fas fa-briefcase"></i>
        <p>{{ liveJobs }}<br><span>Trabajadores</span></p>
      </div>

      <div class="stat animated fadeInDown">
        <i class="fas fa-suitcase"></i>
        <p>{{ newJobs }}<br><span>Chambas</span></p>
      </div>
    </div>
  </div>
  