.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgb(138, 138, 138);
}

.href-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

p {
    font-size: 14px;
    margin-top: 10px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    font-size: 16px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #0056b3;
}

p.error {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

a[routerLink] {
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}
  
a[routerLink]:hover {
    text-decoration: underline;
    color: #13559c;
}